.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 50px;
  background-color: #f0f2f5; /* Light gray background for a modern feel */
}

.App-header {
  background-color: #ffffff; /* White background for the header */
  padding: 20px; /* Increased padding */
  color: #333; /* Dark text for better contrast */
  margin-bottom: 40px; /* Increased margin */
  border-bottom: 1px solid #e0e0e0; /* A subtle, modern bottom border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow */
}

.App-header h1 {
  font-size: 2.5em; /* Larger header font size */
  margin: 0;
  color: #0056B3; /* Sargent blue */
}

.App-logo {
  height: 160px; /* Adjusted logo size */
  border-radius: 10px; /* Softer border radius */
  border: none;
  margin-bottom: 10px;
}

.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 25px; /* Increased gap between cards */
  max-width: 1200px;
  margin: 0 auto;
}